.place-order {
    background-color: #7b798d;
    padding-top: 30px;
    padding-bottom: 50px;
}
.confirm {
    color: #48c76eef;
}
.place-order h2 {
    color: hsl(60, 100%, 100%);
}
.place-order p {
    color: #a7a9be;
}
